// Основные темные тона
$bg-color: #0d0f17;

.wrap_main {
  touch-action: pan-x pan-y;
  --dark-goldenrod: #bd8330ff;
  --smoky-black: #1f1c10ff;
  --smoky-black-2: #1b1509ff;
  --seal-brown: #4c2908ff;
  --bistre: #2a1905ff;
  background-color: $bg-color;
  z-index: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  @supports (height: 100dvh) {
    min-height: 100dvh;
  }

  .bg_tunnel_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 950px;
    pointer-events: none;
    z-index: 1;
  }

  .bg_tunnel {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .middle_column {
    display: flex;
    flex-direction: column;
    gap: 10%;
    z-index: 2;

    // border: 1px solid white;
    justify-content: center;

    @media screen and (width > 1250px) {
      min-height: 800px;
    }
    @media screen and (width < 1250px) {
      align-items: center;
      justify-content: initial;
    }

    height: 100vh;
    & > *:nth-child(2) {
      height: 30vh;
    }
    .upgrades {
      position: absolute;
      left: 0;
      top: 390px;
      bottom: 100px;
      max-height: calc(100vh - 390px);
      min-height: 160px;
      @media screen and (width < 1250px) {
        position: static;
        bottom: 0px;
      }
    }
  }
  @supports (height: 100dvh) {
    .middle_column {
      height: 100dvh;
      & > *:nth-child(2) {
        height: 30dvh;
        width: 30vw;
      }
    }
  }
}
